[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
kleides-mfa = "*"
django-otp-notify = "*"
django-otp-messagebird = "*"
django-allauth = "*"
django-two-factor-auth = {extras = ["phonenumbers"], version = "*"}
django-otp = {extras = ["plugins"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
