<!-- patient_search.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Search</title>
  </head>
  <body>
    <h2>Patient Search</h2>
    <form method="post" action="{% url 'patient_search' %}">
      {% csrf_token %}
      <input type="text" name="search_query" placeholder="Enter patient name" />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
